body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Navigation Bar */

#home {
    background-color: #7600bc;
    padding-bottom: 1cm;
    margin-left: -1cm;
    margin-right: -1cm;
    margin-top: -1cm;
    padding-top: 2cm;
    padding-bottom: 2cm;
    height: 5mm;
}

.topmenu {
    color: lightgray;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    text-decoration: none;
}

.topmenu:hover {
    color: white;
    /* Add the styles here */
}

.topdiv {
    float: right;
    padding-right: 1cm;
}

.profile_name {
    float: left;
    padding-left: 2cm;
    /* Add the styles here */
}

.profile_name .contact_info {
    font-size: 15px;
    font-style: italic;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.contact_info img {
    width: 25px;
    margin-right: 10px;
    float: left;
}

/* Titles */

h2 {
    text-align: justify;
    font-size: 50px;
    text-align: center;
    float: left;
    color: #7600bc;
    margin: 30px;
    margin-left: 60px;
    margin-top: 40px;
    margin-bottom: 0px;
}

.introduction {
    text-align: justify;
    font-size: 30px;
    text-align: center;
    float: left;
    margin-top: 30px;
    margin-bottom: 20px;
    animation-duration: 5s;
    position: relative;
}

/* Used in the About Me sections */

.container {
    display: flex;
}

/* About Me */

.about-me {
    display: flex;
    align-items: center;
}

#about-me h1 {
    font-size: 50px;
    margin-top: 90px;
    color: #7600bc;
}

#about-me p {
    font-size: 25px;
    color: rgb(128, 128, 128);
    margin-top: -1cm;
}

.profile_image {
    width: 550px;
    height: fit-content;
    vertical-align: middle;
    margin: 5px;
}

/* Skills */

.all_skills {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
}

.skill {
    border: 1px solid gray;
    display: block;
    border-radius: 6px;
    text-align: center;
    margin: 50px;
    padding: 10px;
    width: 2in;
    font-size: 20px;
    box-shadow: 0 3px 10px gray;
    transition: transform 0.3s, border 0.3s;
}

.skill:hover {
    transform: scale(1.2, 1.2);
    border: px;
}

.skill img {
    height: 40px;
    align-items: center;
}

.skills h6 {
    align-items: center;
    font-size: 20px;
    margin-block-start: 8px;
    margin-block-end: 5px;
    font-weight: bold;
}

.skills p {
    align-items: center;
    font-size: 15px;
    color: gray;
    margin-block-start: 5px;
    margin-block-end: 5px;
}

.flex_center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Projects */

.projects-container {
    margin-top: 30px;
    margin-left: 60px;
}

.projects-container hr {
    border: 1px solid lightgray;
    width: 75%;
    margin-left: 5cm;
}

.section-title {
    text-align: left;
    font-size: 32px;
    margin-bottom: 40px;
}

.project-card {
    border: 1px solid gray;
    display: block;
    border-radius: 20px;
    text-align: center;
    margin: 50px;
    padding: 10px;
    width: 14in;
    font-size: 20px;
    box-shadow: 0 3px 10px gray;
    transition: transform 0.3s, border 0.3s;
}

.project-card:hover {
    transform: scale(1.1);
    border: 3px;
}

.project-card h3 {
    font-size: 25px;
    margin-left: 30px;
}

.project-card li {
    font-size: 20px;
    margin-left: 30px;
}

/*  Certificates  */
/* Certificates container (row) */
.section-title {
    text-align: center;
    font-size: 50px;
    margin-bottom: 40px;
}

.all_Certificates {
    display: flex;
    justify-content: center;
    /* center row */
    gap: 100px;
    /* space between cards */
    flex-wrap: wrap;
    /* wrap on smaller screens */
    margin-top: 150px;
}

/* Each certificate card */
.Certificates-card {
    border: 1px solid gray;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    width: 200px;
    box-shadow: 0 3px 10px gray;
    transition: transform 0.3s, box-shadow 0.3s;
}

/* Hover effect for card */
.Certificates-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 20px gray;
}

/* Purple button inside card */
.btn {
    display: inline-block;
    padding: 12px 20px;
    margin-top: 15px;
    background-color: #bb8ef3;
    /* purple */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 500;
    transition: 0.3s;
}

/* Hover effect for button */
.btn:hover {
    background-color: #6422a3;
    /* darker purple */
    font-weight: 700;
    /* slightly bolder */
}